[Unit]
Description=Run UFC Vision Cache Warm-up strictly every 2 hours (120 minutes - max 360 calls/month)

[Timer]
OnBootSec=2min
OnUnitActiveSec=2h
Persistent=true

[Install]
WantedBy=timers.target
